doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1(style='font-size:350%;') Marketing your future web-based product/service
        h3 by Fredrik Wollsén
        h3
          a(href='https://twitter.com/neamlabs') @neamlabs
        img.avatar.avatar--small(src='images/linkedin.jpg')

      //-
        section
          h2 Brought to you by Neam Labs
          h3 Also known as: Fredrik Wollsén
          img.avatar.avatar--small(src='images/linkedin.jpg')

      section
        h2 About me
        ul
          // li An ordinary singularity ape
          li
          li Personality type: ENTP
          li
            h3 "the ENTP's primary interest in life is understanding the world that they live in"
          li PRO: Rational, logical, curious, "uncompromisingly honest"
          li CON: Not a hustler, not a sales rep, can't sell you this pen
          li
            img.subimage(src='http://www.salespodder.com/wp-content/uploads/2014/01/wolfofwallst-sell-me-this-pen-nzl.jpg')
          li ... but may know something about value creation and marketing of web-based services

      section
        h2 My life as a geek and consultant
        ul
          li
          li 4 years old - Dad calls me at day-care from work after I the night before had changed password on his work-laptop
          li 8 years old - First programming language (BASIC)
          li 10 years old - First personal website (HTML)
          li 14 years old - Started building dynamic websites (PHP)
          li 16 years old - First website built for client
          li 18 years old - Started web/IT consultancy business
          li 19-29 years old - Consulting, Studying, Traveling

      section.gif.gif--clap

      //-

          li
            img.avatar.avatar--small(src='images/gapminder-website.png')
            img.avatar.avatar--small(src='images/stadsbiblioteket-website.png')
            img.subimage(src='images/gapminder-website.png')
            img.subimage(src='images/stadsbiblioteket-website.png')

      section
        h2 Me as a failed entrepreneur
        ul
          li
          li Since 2002
          li Started 6 companies
          li $650,000 in investments
          li Creative, skilled teams
          li Covered by TechCrunch, VentureBeat, GigaOM, Fast Company, VatorNews, Business Insider
          li Thousands and thousands of hours in product/service development without pay
          li Lots of insane work weeks

      section.bg.bg--great-success-borat
        h2 Great success?

      section.gif.gif--no

      section
          h2 4 of the companies were shut down within 2 years of their founding

      section
        h2 However, apply math and...
        ul
          li
          li 2 companies are still alive!

      section.gif.gif--well-done

      section
        h2 Me as a somewhat successful entrepreneur
        ul
          li
          li 2 companies are still alive!
          li Happy, paying, returning customers!
          li No media coverage
          li Paid product/service development model
          li Very few insane work weeks
          li Sustaining 5 people

      section.bg.bg--its-something

      //-
        section
          h1 Marketing was it?
          h2 Allright, let's get back to marketing...

      section
        h1 Marketing Part 1
        h2 Understanding growth as per "The Lean Startup" by Eric Ries

      section
        h2 The 4 Ways Customers Drive Sustainable Growth
        ul
          li
          li 1. Word of Mouth
          li 2. A Side Effect of Using the Product
          li 3. Paid Advertising
          li 4. Repeat Use

          //- 1. Word of Mouth - When people love your product, they’ll tell other people about it. Great word of mouth is often the Holy Grail of advertising. It’s cheap, incredibly effective, but also difficult to build deliberately.
          //- 2. A Side Effect of Using the Product – Many products advertise themselves. iPhones, Coach purses, and Gmail are great examples. Simply by using a product, a customer advertises your product to people around them.
          //- 3. Paid Advertising – This is what most businesses rely on. As long as you’re able to keep the cost of advertising below your marginal revenue from the campaign, you’ll do just fine. Businesses run into problems when they don’t keep advertising costs under control. To help you do this, make sure you’ve built a system that can track the effectiveness of the ads (Google Analytics, coupon codes, etc).
          //- 4. Repeat Use – Many products need to be bought repeatably in order to continue to use them. Magazine subscriptions, supplements, Netflix, and web hosting are all examples of this. When you have a product that requires repeated purchases, you only have to obtain a small number of new customers to keep growing.

      section
        h2 The Three Engines of Growth
        ul
          li
          li The Sticky Engine of Growth
          li The Viral Engine of Growth
          li The Paid Engine of Growth

          //-
            The Sticky Engine of Growth
            If you’re focused on retaining customers for the long term, this is the engine you need to focus on. Maintaining a low customer attrition is absolutely critical. You need to do everything you can to keep your customers coming back month after month. Once you have an exceptionally low attrition rate, you only need to acquire a few new customers to keep your business growing.

            Before focusing on finding new customers, focus on your current ones.

          //-
            The Viral Engine of Growth

            This is the domain of word of mouth and having your product advertise itself. Either by telling their friends or simply using your product, your customers will do your advertising for you.

            The most critical element of this engine is making sure the every customer brings more than one friend to your business. If 10 of your customers bring 11 of their friends to you, your business will grow rapidly. Because those 11 will bring 11 (or 12) of their friends. Every group will be bigger than the last an you’ll get compounding growth.

            Be careful about relying on this engine of growth, it’s incredibly difficult to build intentionally. For you to rely on viral marketing, your product needs to be absolutely incredible and fit your target market perfectly. If everything isn’t perfect, the viral loop will hit a dead end and you’ll run out of customers without other marketing.

          //-
            The Paid Engine of Growth

            This is what most business owners are familiar with and every form of advertising falls into this category. Whether you’re using the yellow pages or Super Bowel ads, you’re buying your customers.

            When operating on this engine, each customer needs to give you a profit. If you’re spending a $1.00 to acquire a customer, you better be making enough to cover the $1.00, your other expenses, and leave a bit of profit left over. As long as you’re making a profit on each customer, you can invest those profits into more advertising to accelerate growth. Purchasing ads, employing sales teams, and leasing expensive real estate for foot traffic are all examples of the paid engine of growth.

            Make sure your costs are covered.

      section
        h2 Can you use more than one engine of growth?
        ul
          li
          li "Yes, but as a small business owner it’s much better to focus on one engine at a time"

          //-
            Can you use more than one engine of growth?

            You can and many businesses do, especially larger corporations. But as a small business owner, it’s much better to focus on one engine at a time. If you’re trying to go viral, make your product sticky, and pay for customers, it’s going to get very difficult to figure out what’s working.

            To learn more about how to build a business from scratch, I highly recommend The Lean Startup. You’ll learn how to manage the uncertainty that is in every market and build a thriving business.

      section
        h1 Marketing Part 2
        h2 Forget marketing

      section.gif.gif--thats-it

      section
        h1 Seriously
        h2 Forget marketing, at least to begin with...

      section
        h1 Actually
        h2 None of the remaining slides will even talk about marketing...

      section
        h1 If you ask around...
        h2 How do I market my web-based product/service?

      section
        h2 You will probably hear things like:
        ul
          li
          li "Create a search-based user acquisition strategy through content marketing and search engine optimization and marketing"
          li "Embrace social media technologies and building a presence on platforms like Twitter and Facebook"
          li "Use search to inform your product development roadmap"
          li "Optimize your websites for user experience and conversions"
          li "Use cost-effective methods of advertising through in-depth analysis of analytics and extensive A/B testing"
          li etc...

      section
        h2 You did that for months and not getting noticable results?

      section
        h2 The problem might be...
        img(src='images/quote-growth.png')
        br
        a.
          Andy Johns of Wealthfront
          (formerly: Facebook, Twitter and Quora).
        br
        p March 2014

      section.gif.gif--anger

      section
        h1 Don't be offended
        h2 This is waaay to common

      section
        h2 92% of startups fail
        img.subimage.subimage--quora(src='images/quora-startup-fail.png')

      section.light(data-bespoke-state='green')
        h1 Thus, first...
        h2 Make sure you have a working business model
        //- h2 Make sure you are building a product/service that customers want

      section
        h2 "There are tons of methods, tools and advice for this!"
        h3 Lean Startup, Validation Board, Lean Canvas, Business Model Canvas, SEMPORCES, Hacker/Hustler, KISS, Business Model Yacht, One-Page Lean Startup, "Get Out Of The Building", etc

      section.gif.gif--omg-plugins
      section.gif.gif--grunt-happy

      section
        h1 But wait... You tried to actually apply a method in practice?
        h2 How did it go?

      section.gif.gif--wrong-question
        h1

      section
        h2 Everything assumes that we already have a team, an office, seed money, a plan, ...

      section
        h2 While most advice will help you get through the "Prototype -> Growth -> Maturity" cycle...

      section
        h2 Very little advice is generally available for those that have the opportunity to start from scratch
        h3 (Like you!)

      section.bg.bg--you-are-here-growth-cycle

      section.light(data-bespoke-state='green')
        h1 How to start from scratch
        h2 A practical approach to create future products/services

      section
        h2 Part 1 - Adopt outcome-driven innovation
        ul
          li
          li Understand what customers want
          li Innovate a breakthrough product/service
          li Communicate about your product/service based on what customers want

      section
        h2 Part 2 - Get out of the building
        ul
          li
          li Validate what you think you know without writing a single line of code
          li Build a prototype using low-cost prototyping methods and third-party services

      section.light(data-bespoke-state='green')
        h1 Part 1 - Adopt outcome-driven innovation

      section
        h2 I personally found most tools, methods and advice to be way to inprecise or generalizing to be applied to the process of creating new future products and services.

      section
        h2 Is there no systematic approach to innovation?

      section.light.gif.gif--ryu(data-bespoke-state='green')
        h1 A CHALLENGER APPEARS

      section
        h1 The outcome-driven approach to innovation
        h2 A hands-on systematic approach to devising breakthrough products/services

      section
        h1 Adapted from
        h2 "What customers want" by Anthony W. Ulwick

      section
        h1 Again?

      section
        h1 The outcome-driven approach to innovation
        h2 evaluate a product's potential to get a job done and address the customer's desired outcomes

      section
        h1 Again?

      section
        h1 The outcome-driven approach to innovation
        h2 Make the innovation process as controllable as any other business process

      section
        h2 First things first

      section
        h2 Instead of thinking in terms of
        h3 problems, solutions, features, todo, todo, todo, todo, todo, todo, todo, todo,

      section
        h2 Outcome-driven thinking revolves around three basic concepts
        ul
          li
          li Jobs
          li Desired outcomes
          li Constraints

      section.gif.gif--mindblown

      section
        h2 A Job
        h3

      section
        h2 Ask your target customers
        h3 But do NOT listen to what they say they want

      section.gif.gif--mindblown


      section
        p.
          Step 2 - Capture Customer Inputs
          Step 3 - Identify Opportunities
          Step 4 - Segment the Market

          Step 8 - Define Breakthrough Concepts
          Step 1 - Formulate Innovation Strategy
          Innovation Types
          Growth options
          Get More Jobs Done
          Get a Job Done Better
          Help New Customers Do a Job Nobody Is Doing Yet
          Help New Customers Do a Job That Others Are Already Doing
          Multiple constituents
          Step 7 - Prioritize Development Pipeline

      section
        h2 Innovate a breakthrough product/service

      section
        h2 Communicate about your product/service based on what customers want

      section
        h1 Part 2
        h2 Innovate a breakthrough product/service

      section
        h1 Part 3
        h2 Communicate about your product/service based on what customers want

      section
        h2 Understand what kind of marketing you need
          Step 5 - Define Targeting Strategy
          Step 6 - Position Current Offerings

      section
        h1 Part 4
        h2 Validate what you think you know
        p.
          Pitch
          Make sure the solution would actually provide value by selling the concept to customers before building the product. This will measure their level of determination to solve the problem for themselves. A potential customer not taking a certain action to use your service, like paying a small deposit or submitting an email address, indicates that the problem is not painful enough or that you haven’t found the right solution.
          Concierge
          Personally deliver the service to customers to test how satisfied they are with your solution. Did your value proposition meet their expectations? What was useful for them? What could have been done better? How likely are they to return or recommend the service to a friend? These are all insights you can discover in this step.

      section
        h1 Part 5
        h2 Build a prototype

      section
        h2 Understand sources of growth
        h2 Understand systems of value creation

      section
        h1 And Finally...
        h2 What I recommend today's students to do in order to become successful entrepreneurs

      section
        h2
          .bullet Step 1 out of 6
        h3
          .bullet Read the following books:
        ul
          li What Customers Want (Anthony W. Ulwick)
            img.subimage.subimage--book(src='images/whatcust.jpg',style='float:right;')
          li
            img.subimage.subimage--book(src='images/leanstartup.jpg',style='float:left;')
            The Lean Startup (Eric Ries)
          li Hooked: How to Build Habit-Forming Products (Nir Eval)
            img.subimage.subimage--book(src='images/hooked.jpg',style='float:right;')
          li
            img.subimage.subimage--book(src='images/4hour.jpg',style='float:left;')
            Hooked: The 4-Hour Work Week (Timothy Ferriss)

      section
        h2
          .bullet Step 2 out of 6
        h3
          .bullet Understand the difference between "ordinary happy people", millionaires and billionaires and choose wisely what you want to become
        h2
          .bullet Step 3 out of 6
        h3
          .bullet Adopt outcome-driven thinking

      section
        h2
          .bullet Step 4 out of 6
        h3
          .bullet Gain experience by starting and failing with startups for 1-3 years (insane work weeks and minimum pay is recommended)
        h2
          .bullet Step 5 out of 6
        h3
          .bullet Realize that you did not adapt outcome-driven thinking 1-3 years ago
        h2
          .bullet Step 6 out of 6
        h3
          .bullet Adopt outcome-driven thinking and apply life experiences in your first successful startup

      section
        h1 Start TODAY
        h3 Don't wait for your studies to be finished. Having multiple years of work experience when graduating is completely within reach as a student entrepreneur :)

      section.gif.gif--gulp-is-awesome

      section
        h1 Questions?

      section
        h1 Thank you!
        h3.
          Want to build a kickass service/product or discuss an idea?
          Send an email to
        p fredrik@neam.se
        br
        h3 Also, don't forget to sign-up on Neamtime.com
        h3
          a(href='https://twitter.com/neamlabs') @neamlabs
        img.avatar.avatar--small(src='images/linkedin.jpg')

    //-
      section
        h1 Hello World

      section
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')